<%- include('partials/header') %>

<body class="home">


  <div class=" centered">
    <div class="container-fluid">
      <div class="small-container centered">
        <h1 class="center h1-heading"> <img src="images/key.png" alt="key" height="75px" width="75px" class="key">
          Secrets</h1>
        <p class="p-heading">Don't keep your secrets, share them anonymously!</p>
        <hr>
        <a class="btn btn-lg sign-btn" href="/register" role="button">Register</a>
        <a class="btn btn-lg sign-btn" href="/login" role="button">Login</a>
      </div>

    </div>
  </div>
  <p class="copyright-home centered">© Copyright 2021 Dannique</p>
  <%- include('partials/footer') %>