<%- include('partials/header') %>

<body>

  <div class="loginReg-container">
    <div class=" text-center">
      <div class="container">
        <i class="fas fa-key fa-6x"></i>
        <h2 class="display-3 secret-h2">You've Discovered My Secret!</h2>

        <% usersWithSecrets.forEach(user => { %>
        <% (user.secret).forEach(secret => { %>
        <p class="secret-text">
          <%= secret %>
        </p>
        <% }) %>
        <% }) %>

        <hr>
        <a class="btn sign-btn btn-lg" href="/logout" role="button">Log Out</a>
        <a class="btn sign-btn btn-lg" href="/submit" role="button">Submit a Secret</a>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>